<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Repro css/font fail</title>
        <link rel="stylesheet" href="/src/styles/custom.css">
        <script type="module" src="../../main.js"></script>
    </head>
    <body>
        <h1>This should be in Andika</h1>
        <p>So should this.</p>
    </body>    
</html>
